.user {
  cursor: pointer;
  padding: 8px;
  opacity: 0;
  transform: translateX(-100px);

  &__active {
    background-color: green;
    &::after {
      content: "ouais";
      padding-left: 1rem;
      display: inline-block;
      width: 12px;
      height: 12px;
    }
  }

  &__notif {
    background-color: orange;
  }
}
