.messages {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
  height: 70vh;
  overflow-y: auto;
  background-image: url("/assets/Vintage20paper20isola.webp");
  background-repeat: no-repeat;
  background-position: center;
  //   overflow: hidden;
}
